<% content_for :canonical do %>
  <link rel="canonical" href="http://www.uclatestbank.com" />
<% end %>

<% content_for :title do %> 
  UCLA Test Bank 
<% end %>

<% content_for :meta do %>
  <meta name="description" content="Are you ready for that midterm or final? Come checkout how out your fellow bruins have been prepared for them!">
<% end %>

<div class="jumbotron ucla_bg">
  <h1 style="color: white; text-align: center;">Practice Makes Perfect...</h1>
  <h3 style="color: white; text-align: center;">Tests and homework from your fellow Bruins!</h3>
  <h3 style="color: white; text-align: center;">Trade Now!</h3>
  <% if user_signed_in? %>
    <p style="text-align: center;"><%= link_to 'Start', search_test_path, class: "btn btn-default btn-lg" %></p>
<% else %>
    <p style="text-align: center;"><%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-lg" %></p>
  <p style="text-align: center;"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
<% end %>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Browse by Department</h2>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="min-width: 300px;">Department</th>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
    <% @paginated_courses.each do |dept| %>
      <% course_ids = @course_hash[dept] %>
    <tr>
      <td><%= dept %></td>
      <td>
        <% course_ids.each do |course_id| %>
          <%= link_to course_id ,search_course_path(dpm: dept, course: course_id) %>
        <% unless course_id == course_ids.last %>&nbsp;<% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>

  <div style="text-align: center">
    <%= will_paginate @paginated_courses, renderer: BootstrapPagination::Rails %>
  </div>
</div>
