<div class="panel panel-default">
	<div class="panel-heading">
	  <div class="row text-center">
	    <div class="col-sm-3">Title</div>
	    <div class="col-sm-3">Quarter and Year</div>
	    <div class="col-sm-3">File Type</div>
	    <div class="col-sm-3">Rating</div>
	  </div>
	</div>

	<div class="panel-body">
	  <% if !@documents.empty? %>
	    <% @documents.each do |document| %>
	      <div class="row text-center">
            <div class="col-sm-3"><%= link_to document.description, preview_document_path(document_id: document.id) %></div>
	        <div class="col-sm-3"><%= document.quarter + " " + document.year %></div>
	        <div class="col-sm-3"><%= document.document.file.extension.downcase %></div >
            <div class="col-sm-3"><em>
                <%=document.reputation_for(:votes)%>
                <%= link_to "up", vote_document_path(doc_id: document.id, type: "up", course_id: @course_id), method: "post" %>
                <%= link_to "down", vote_document_path(doc_id: document.id, type: "down", course_id: @course_id), method: "post" %></em></div>
	      </div>
	    <% end %>
	  <% end %>
	</div>
</div>
<% if user_signed_in? %>
	<div class="center-block" style="max-width: 200px;">
  		<%= link_to "Upload new document", new_document_path(course_id: course.id), class: "btn btn-primary" %>
	</div>
<% else %>
	<div class="center-block" style="max-width: 200px;">
  		<%= link_to "Log in or Sign up to Upload", new_document_path(course_id: course.id), class: "btn btn-primary disabled" %>
	</div>
<% end %>
