<!-- We don't need this page -->

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><%= @course.department %> <%= @course.course_id %></h2>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="center-block" style="max-width: 200px;">
      <%= link_to "Upload new document", new_document_path(course_id: @course.id), class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="panel panel-default" style="margin: 20px 0 0 0;">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-3">Title</div>
        <div class="col-sm-3">Quarter</div>
        <div class="col-sm-3">Year</div>
        <div class="col-sm-3">Rating</div>
      </div>
    </div>

    <div class="panel-body">
      <% if !@documents.empty? %>
        <% @documents.each do |document| %>
          <div class="row">
            <div class="col-sm-3"><a href="<%= document.document.url %>"><%= document.description %></a></div>
            <div class="col-sm-3"><%= document.quarter %></div>
            <div class="col-sm-3"><%= document.year %></div>
            <div class="col-sm-3"><%= document.document.file.extension.downcase %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
