<div class=profile-header>
  <h1>My Profile
    <span>
      <label class="user-profile-label">Credits Remaining: </label><label class="user-profile-value"><%= @user.credits %></label>
    </span>
  </h1>
</div>

<div class=profile-info>
  <h4> Basic Information </h4>
  <hr/>
  <ul style="list-style: none;">
    <li>
      <label class="user-profile-label">Email: </label><label class="user-profile-value"><%= @user.email %></label>
    </li>	
    <li>
      <label class="user-profile-label">Full Name: </label><label class="user-profile-value"><%= @user.first_name %> <%= @user.last_name %></label>
    </li>
    <li>
      <label class="user-profile-label">Graduation Date: </label><label class="user-profile-value"></label>
    </li>
  </ul>
</div>

<div class=profile-info>
  <h4> Courses Enrolled 
    <span>
      <%= link_to 'Add course', add_course_taken_path, class: 'btn btn-primary', style: 'float: right' %>
    </span>
  </h4>
  <hr>

  <% @courses_string.each do |course| %>
    <% unless course.nil? %>
      <li class="list-group-item">
        <% course_id_start = course.rindex(' ') %>
        <% unless course_id_start.nil? %>
          <% department = course.slice(0, course_id_start) %>
          <% course_id = course[course_id_start + 1..-1] %>
          <div class="row">
            <div class="col-sm-2"><%= link_to department+' '+course_id,search_course_path(dpm: department, course: course_id) %></div>
            <div class="col-sm-2"><%= link_to 'Delete', remove_course_taken_path(department: department, course_id: course_id),  method: :delete, class: "btn btn-primary" %></div>
          </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</div>

      

