<div class="container">
  <!-- Profile header -->
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h1>My Profile</h1>
        </div>
        <div class="col-sm-3" style="text-align: right;">
          # of Docs Uploaded Today: 
          <h1 style="margin-left: 10px; display: inline-block;">
            <%= @user.docs_uploaded_today %>
          </h1>
        </div>
        <div class="col-sm-3" style="text-align: right;">
          Credits Remaining: 
          <h1 style="margin-left: 10px; display: inline-block;">
            <%= @user.credits %>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4> Basic Information </h4>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @user.first_name + " " + @user.last_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
      <!-- <tr>
        <td>Graduation Date</td>
        <td></td>
      </tr> -->
    </tbody>
  </table>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-10">
          <h4> Course Enrolled </h4>
        </div>
        <div class="col-sm-2">
          <%= link_to 'Add course', add_course_taken_path, class: 'btn btn-primary', style: 'float: right' %>
        </div>
      </div>
    </div> 
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Course</th>
        <th>Delete Course</th>
      </tr>
    </thead>
    <tbody>
      <% @courses_string.each_with_index do |course, index| %>
        <% unless course.nil? %>
          <% course_id_start = course.rindex(' ') %>
          <% unless course_id_start.nil? %>
            <% department = course.slice(0, course_id_start) %>
            <% course_id = course[course_id_start + 1..-1] %>
            <tr>
              <td><%= index %></td>
              <td>
                <%= link_to department+' '+course_id,search_course_path(dpm: department, course: course_id) %>
              </td>
              <td>
                <%= link_to 'Delete', remove_course_taken_path(department: department, course_id: course_id),  method: :delete, class: "btn btn-default" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
